﻿var TX = TX || {};
(function(namespace) {
    class Auth{
        
    
        constructor(options){
            this.registerUrl = '{{ url('post_register', {version: 'v1'}) }}';
            this.loginTokenUrl = '{{ url('get_login', {version: 'v1'}) }}';
            this.refreshTokenUrl = '{{ url('get_refreshtoken', {version: 'v1'}) }}';
            this.requestChangeBirthdayUrl = '{{ url('get_request_change_birthdate', {version: 'v1'}) }}';
            this.requestPasswordResetUrl = '{{ url('get_request_password_reset', {version: 'v1'}) }}';
            this.requestPasswordForgotUrl = '{{ url('get_request_password_forgot', {version: 'v1'}) }}';
            this.validateTokenUrl =  '{{ url('get_validate_token', {version: 'v1'}) }}';
            this.checkUniquenickUrl =  '{{ url('get_check_uniquenick', {version: 'v1'}) }}';
            this.checkEmailUrl =  '{{ url('get_check_email', {version: 'v1'}) }}';
            this.locale = (options && options.locale) || 'en';
            this.accessToken = options && options.accessToken;
            this.defaultDestination = location.protocol + '//' + location.host + location.pathname;
            if(options.loadMd5Library) this.loadMd5Library();
        }       

        checkUniqueNickUrl(nick) {            
            var options = { method: 'get'};
            
            return fetch(this.urlQueryParams({
                url: this.checkUniquenickUrl, 
                data: {nick: md5(nick)}
            }), options)
            .then(this.status)
            .then( resp => resp.json() );
        }    
                
        checkEmail(email) {            
            var options = { method: 'get'};
            
            return fetch(this.urlQueryParams({
                url: this.checkEmailUrl, 
                data: {email: md5(email)}
            }), options)
            .then(this.status)
            .then( resp => resp.json() );
        }    
        
        register(data) {
            var params = Object.assign({}, data, {locale: this.locale});

            return fetch(this.registerUrl, {
                method: "post",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: this.toQueryString(params),
                credentials: 'include'
            })
            .then(this.status)
            .then( resp => resp.json() );
        }
        
        signIn(username, password){                     
            return fetch(this.urlQueryParams({
                url: this.loginTokenUrl, 
                data: { username: username, password: password }
            }),{
                credentials: 'include'
            })
            .then(this.status)            
            .then( resp => resp.json() )
            .then( res => {
                    document.cookie = "a_token=" + res.access_token + "; ";
                    document.cookie = "r_token=" + res.refresh_token + "; "; 
                    return Promise.resolve(res) 
            });             
        }

        signOut(){
            document.cookie = "a_token=; expires=Thu, 01 Jan 1970 00:00:00 GMT;";
            document.cookie = "r_token=; expires=Thu, 01 Jan 1970 00:00:00 GMT;";
        }

        refreshToken(rToken){            
            var refresh_token = rToken || this.getRefreshToken();            

            return fetch(this.urlQueryParams({
                    url: this.refreshTokenUrl,
                    data: { refresh_token: refresh_token }
            }))
            .then(this.status)
            .then( resp => resp.json() )
            .then( res => {
                    document.cookie = "a_token=" + res.access_token + "; ";
                    document.cookie = "r_token=" + res.refresh_token + "; "; 
                    return Promise.resolve(res) 
            });              
            
        }

        validateToken(token){
            return fetch(this.urlQueryParams({
                url: this.validateTokenUrl, 
                data: { token: token }
            }))
            .then(this.status)
            .then( resp => resp.json() );
        }

        requestChangeBirthday(data){
            if (data && !data.destination) {
                data['destination'] = this.defaultDestination;
            }
            
            var options = { method: 'get', headers: this.getHeaders() };

            return fetch(this.urlQueryParams({
                url: this.requestChangeBirthdayUrl, 
                data: Object.assign(data, {locale: this.locale})
            }), options)
            .then(this.status)
            .then( resp => resp.json() );
        }

        requestPasswordReset(data){
            if (data && !data.destination) {
                data['destination'] = this.defaultDestination;
            }
            
            var options = { method: 'get', headers: this.getHeaders() };
            
            return fetch(this.urlQueryParams({
                url: this.requestPasswordResetUrl, 
                data: Object.assign(data, {locale: this.locale})
            }), options)
            .then(this.status)
            .then( resp => resp.json() );
        }

        requestPasswordForgot(data){
            if (data && !data.destination) {
                data['destination'] = this.defaultDestination;
            }
            
            return fetch(this.urlQueryParams({
                    url: this.requestPasswordForgotUrl, 
                    data: Object.assign(data, {locale: this.locale})
            }))
            .then(this.status)
            .then( resp => resp.json() );
        }

        passwordReset(data){
            var params = Object.assign({}, data, {locale: this.locale});
            var options = { method: 'get', headers: this.getHeaders() };

            return fetch(this.urlQueryParams({
                url: this.passwordResetUrl, 
                data: params
            }), options)
            .then(this.status)
            .then( resp => resp.json() );
        }

        getCookie(name){
            var result = document.cookie.match(new RegExp(name + '=([^;]+)'));
            if (result) return result[1];
        }

        getAccessToken(){
            return this.getCookie('a_token');
        }
        
        setAccessToken(accessToken){
            this.accessToken = accessToken;
        }
        
        getRefreshToken(){
            return this.getCookie('r_token');
        }

        getHeaders(){
            var headers = new Headers();
            headers.append('Authorization', "Bearer " + this.accessToken);   
            
            return headers;
        }

        urlQueryParams(options){
            var query = this.toQueryString(options.data);

            return options.url + '?' +query;
        }
               
        toQueryString(data){
            var esc = encodeURIComponent;
            return Object.keys(data)
                .map(k => `${esc(k)}=${esc(data[k])}`)
                .join('&');
        }
    
        status(response) {  
    console.log('_status', response);
            if (response.ok && response.status >= 200 && response.status < 300) {  
              return Promise.resolve(response)  
            } else {      
              return Promise.reject(response) ;
            }  
        }   

        getParameterByName(name) {        
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        loadMd5Library() {        
            var d = document;
            var js, id = 'auth-md5', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "{{ asset('/bundles/app/js/md5.js') }}";
            ref.parentNode.insertBefore(js, ref);
        }
    }
    namespace.Auth = Auth;
}(TX));