<!DOCTYPE html>
<html lang="es">
    <head>        
        <meta charset="utf-8"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"  rel="stylesheet"/>
        <!--link class="codestyle" rel="prefetch alternate stylesheet" href="/static/demo/styles/github.css"-->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <style type="text/css">
            
            /* Panel */
            .panel-collapse input[type="text"],
            .panel-collapse input[type="password"],
            .panel-collapse input[type="email"],
            .panel-collapse input[type="tel"],
            .panel-collapse input[type="url"],
            .panel-collapse textarea,
            .panel-collapse button[type="submit"] {
                font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
            }

            .panel-collapse input[type="text"],
            .panel-collapse input[type="password"],
            .panel-collapse input[type="email"],
            .panel-collapse input[type="tel"],
            .panel-collapse input[type="url"],
            .panel-collapse textarea {
                width: 100%;
                border: 1px solid #ccc;
                background: #FFF;
                margin: 0 0 5px;
                padding: 10px;
            }          
                         
        </style>
    </head>

<body>
    
    {% block body %}{% endblock %}
    
       
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
        
    <script src="{{ url('app_javascript_auth', {version:'v1'}) }}"></script>

    
    {% block javascripts %}{% endblock %}
    
</body>

</html>