{% extends '@App/demo/base.html.twig' %}

{% block body %}
    
    <div class="container">       
        <div class="alert alert-info access-token">      
            <!--button type="button" class="btn btn-xs btn-primary pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing"><i class="glyphicon glyphicon-refresh"></i> Refresh</button-->
            <div id="loginForm" class="form-group col-md-6">                     
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="email" class="form-control" name="email" value="user1@texyon.com" placeholder="Email Address">                                        
           
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" value="123456789" placeholder="Password">                                        
                </div>
            </div>
                <button type="button" class="btn btn-sm btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
            <h5 style="clear: both;"><strong>Access Token:</strong> <span id="displayToken"></span></h5>
        </div>
    </div>
    
    <div class="container">
        <h1>Demo servicio Auth</h1>

        {% embed "@App/demo/partials/register.html.twig" %}{% endembed %}
        {% embed "@App/demo/partials/login.html.twig" %}{% endembed %}
        {% embed "@App/demo/partials/refreshToken.html.twig" %}{% endembed %}
        {% embed "@App/demo/partials/validateToken.html.twig" %}{% endembed %}
        {% embed "@App/demo/partials/requestPasswordReset.html.twig" %}{% endembed %}
        {% embed "@App/demo/partials/requestPasswordForgot.html.twig" %}{% endembed %}
        {% embed "@App/demo/partials/requestChangeBirthday.html.twig" %}{% endembed %}

    </div>

{% endblock body %}
    
{% block javascripts %}
    <script>       
        var app = {};
        var auth = new TX.Auth({loadMd5Library: true}); 

        $(function() {
            $('.btn').on('click', function() {
                var $this = $(this);
                $this.button('loading');
            });
            
            var $displayToken = $('.access-token #displayToken');
            $displayToken.append(auth.getAccessToken());
            $('.access-token .btn').on('click', function() {                
                var $loginForm = $('#loginForm');
                var user = $loginForm.find('#email').val();
                var pass = $loginForm.find('#password').val();
                var $this = $(this);
                auth.signIn(user, pass).then(( res )=> {
                    console.log( "Data Saved: ", res );
                    $displayToken.fadeOut(500, function() {
                        $(this).text(res.access_token).fadeIn(500);
                    });
                    $this.button('reset');
                }).catch((error) => {
                    error.json().then(res => {                        
                        $displayToken.fadeOut(500, function() {
                            $(this).text(JSON.stringify(res, null, 2)).fadeIn(500);
                        });
                        $this.button('reset');
                    });
                });
            });               
 
            
            app = {
                $this: null,
                $panel: null,
                $resultDisplay: null,
                register: function(){
                    var form = app.$panel.find("form");
                    var formData = toJSONString(form[0]); 
                    formData['rtsConsent'] = form[0].querySelector('.rtsConsentCheckbox').checked;
                    auth.register(formData).then(app._processResponse).catch(app._fail);
                },
                login: function(){
                    var email = app.$panel.find("input[name='email']").val(); 
                    var password = app.$panel.find("input[name='password']").val();                    
                    auth.signIn(email, password).then(app._processResponse).catch(app._fail);
                },
                refreshToken: function(){
                    var rToken = app.$panel.find("input[name='token']").val();
                    auth.refreshToken(rToken).then(app._processResponse).catch(app._fail);
                },
                validateToken: function(){
                    var rToken = app.$panel.find("input[name='token']").val();
                    auth.validateToken(rToken).then(app._processResponse).catch(app._fail);
                },
                signOut: function(){
                    auth.signOut().then(app._processResponse).catch(app._fail);
                },
                requestPasswordReset: function(){
                    var destination = app.$panel.find("input[name='destination']").val();
                    auth.setAccessToken(auth.getAccessToken());
                    auth.requestPasswordReset({destination: destination}).then(app._processResponse).catch(app._fail);
                },
                requestPasswordForgot: function(){
                    var email = app.$panel.find("input[name='email']").val();
                    var destination = app.$panel.find("input[name='destination']").val();
                    auth.requestPasswordForgot({email: email, destination: destination}).then(app._processResponse).catch(app._fail);
                },
                requestChangeBirthday: function(){
                    var destination = app.$panel.find("input[name='destination']").val();
                    auth.setAccessToken(auth.getAccessToken());
                    auth.requestChangeBirthday({destination: destination}).then(app._processResponse).catch(app._fail);
                },
                
                _processResponse: res => {
                    app.$resultDisplay.html(JSON.stringify(res, null, 2));
                    hljs.highlightBlock(app.$resultDisplay[ 0 ]);
                    app.$this.button('reset');
                },
                _fail: (error) => {
                    error.json().then(res => {
                        app.$resultDisplay.html(JSON.stringify(res, null, 2));
                        hljs.highlightBlock(app.$resultDisplay[ 0 ]);
                        app.$this.button('reset');
                    });
                }
            };
            
            $('.run-app').on('click', function() {       
                app.$this = $(this);
                app.$panel = app.$this.closest(".panel");
                app.$resultDisplay = app.$panel.find("code.result");
                app.$resultDisplay.empty();                
                
                var method = app.$this.data('method');
                app[method]();
            }); 
                        
            function toJSONString( form ) {
                var obj = {};
                var elements = form.querySelectorAll( "input, select, textarea" );
                for( var i = 0; i < elements.length; ++i ) {
                        var element = elements[i];
                        var name = element.name;
                        var value = element.value;

                        if( name ) {
                                obj[ name ] = value;
                        }
                }

                return obj;
            }
        });
    </script>

{% endblock javascripts %}

