<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseLogin">Login</a>
            </h4>
        </div>
        <div id="collapseLogin" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-lg-6">
                    <label>C&oacute;digo</label>
                    <pre><code class="html hljs">{% filter escape %}                                
<script src='https://api.texyon.com/auth/v1/js/api.js'></script>

<script type="text/javascript">
        var auth = new TX.Auth();  
        auth.signIn([USER],[PASSWORD]).then(( res )=> {
            console.log( "Credentials: ", res );
        });
</script>
                    {% endfilter %}
                </code></pre>
                </div>
                <div class="col-lg-6">
                    <label>Resultado</label>
                    <pre><code class="result json hljs" style="height: 193px;"></code></pre>
                    <a class="btn btn-default play-browser run-app" data-method="login" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Run</a>
                </div>
            </div>
            <div class="panel-footer">                
                <form class="form-horizontal form-inline">
                    <div class="input-group input-group-sm">
                        <input name="email" placeholder="email" class="form-control" type="text" tabindex="1" required="required">
                    </div>    
                    <div class="input-group input-group-sm">
                        <input name="password" placeholder="Password" class="form-control" type="password" tabindex="1" required="required">
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
               
{# block javascripts_childs %}
    
<script>
    
    console.log('js loaded');
    $(function() {
        $('.play-browser').on('click', function() {
      //  function testPlayBrowser(this){
            var $this = $(this);
            var element = document.querySelector('#sectionPlayBrowser code.result');
    console.log('dentro');
            var games = new TX.Games({locale: 'es'});
            games.playBrowser('qIui3Bp6fngqT3XW0l1u').then( res => {
                element.innerHTML = JSON.stringify(res, null, 2);
                hljs.highlightBlock(element);
                $this.button('reset');
            }).catch((error) => {                         
                error.json().then(res => {
                    element.innerHTML = JSON.stringify(res, null, 2);;
                    hljs.highlightBlock(element);
                    $this.button('reset');
                });
            });  
        //}
        });   
        
    });
        

</script>
{% endblock javascripts_childs #}
