<style>
    .help-block {
        font-size: 10px;
    }

</style>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseRegister">Register</a>
            </h4>
        </div>
        <div id="collapseRegister" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-lg-6">
                    <label>C&oacute;digo</label>
                    <pre><code class="html hljs">{% filter escape %}                                
<script src='https://api.texyon.com/auth/v1/js/api.js'></script>

<script type="text/javascript">
        var auth = new TX.Auth();  
        auth.register([data]).then(( res )=> {
            console.log( "Result: ", res );
        });
        
        auth.checkEmail(value).then(res => { 
            console.log(res); 
        });
        auth.checkUniqueNickUrl(value).then(res => { 
            console.log(res); 
        });
</script>
                    {% endfilter %}
                </code></pre>
                </div>
                <div class="col-lg-6">
                    <label>Resultado</label>
                    <pre><code class="result json hljs" style="height: 193px;"></code></pre>
                    <a class="btn btn-default play-browser run-app" data-method="register" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Run</a>
                </div>
            </div>
            <div class="panel-footer">          
                <div class="row">
                    <div class="container">
                        <form class="form form-inline">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-2">
                                    <input name="uniqueNick" placeholder="uniqueNick" class="form-control checks" data-check="uniqueNick" type="uniqueNick" required="required">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group col-xs-2">                        
                                    <input name="email" placeholder="email" class="form-control checks" data-check="email" type="text" required="required">
                                    <span class="help-block"></span>
                                </div>    
                                <div class="form-group col-xs-2">
                                    <input name="password" placeholder="Password" class="form-control" type="password" required="required">
                                </div>
                                <div class="form-group col-xs-2">
                                    <input name="birthDate" placeholder="birthDate" class="form-control" type="birthDate" required="required">
                                    yyyy-MM-dd
                                </div>
                                <div class="form-group col-xs-2">
                                    <label style="line-height: 30px;"><input class="rtsConsentCheckbox" type="checkbox" name="rtsConsent" value="1" checked> rtsConsent</label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="g-recaptcha" name="g-recaptcha-response" type="hidden">
                                    <!--div class="g-recaptcha" data-sitekey="6Lebwl0UAAAAANcT1I6BF2eYa8YEnZTUhsWjUaNh" data-theme="dark"></div-->
                                    <!--div class="g-recaptcha"
                                        data-sitekey="6LdqTFsUAAAAAIUQGbKvYe2nbRi7m2c2iEU4_3Mk"
                                        data-callback="onSubmit"
                                        data-size="invisible">
                                    </div-->
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
               
{% block javascripts_childs %}
<!--script src="https://www.google.com/recaptcha/api.js?hl=es" async defer></script-->
<script src='https://www.google.com/recaptcha/api.js?render=6LfjiV8UAAAAAHFNVSEdbzlT5Pui_qkE3n89D11d'></script>
<script>
    grecaptcha.ready(() => {
        grecaptcha.execute('6LfjiV8UAAAAAHFNVSEdbzlT5Pui_qkE3n89D11d', {action: 'homepage'})
        .then( (token) => {
            console.log('Captcha response:', token);
            var captcha = document.getElementById('g-recaptcha');
            captcha.value = token;
        });
    });    
</script>
    

<script>
        var timer;

        window.onload = function() {
            var checks = document.querySelectorAll('.checks');
            Array.prototype.forEach.call(checks, function(element, index) {
                element.onkeyup = doneTyping;
            });
        };
        
        function doneTyping () {
            if(timer) window.clearTimeout(timer);
            var element = this;
            resetHelpBlock(element);
            timer = window.setTimeout(function(){checkData(element);}, 500);
        }

        function resetHelpBlock(element) {
            var parent = element.closest(".form-group");
            parent.classList.remove('has-error');
            parent.classList.remove('has-success');
            parent.getElementsByClassName("help-block")[0].innerHTML = "";
        }

        function checkData(element) {
            var check = element.dataset.check;
            var value = element.value;
            if (value.length > 0) {
                switch(check) {
                    case 'email':  auth.checkEmail(value).then(res => onCheckResponse(element, res) ); break;
                    case 'uniqueNick': auth.checkUniqueNickUrl(value).then(res => onCheckResponse(element, res) ); break;
                    default: break;
                }
            }
        }
        
        function onCheckResponse(element, res) {
            var parent = element.closest(".form-group");
            
            if (res.hit) {
                parent.classList.add('has-error');
            } else {
                parent.classList.add('has-success');
            }
            
            parent.getElementsByClassName("help-block")[0].innerHTML = res.message;
        }

</script>
{% endblock javascripts_childs %}
