<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseRPasswordForgot">Solicitud Recuperar contraseña</a>
            </h4>
        </div>
        <div id="collapseRPasswordForgot" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-lg-6">
                    <label>C&oacute;digo</label>
                    <pre><code class="html hljs">{% filter escape %}                                
<script src='https://api.texyon.com/auth/v1/js/api.js'></script>

<script type="text/javascript">
    var auth = new TX.Auth();
    auth.requestPasswordForgot(email).then( res => {
        console.log( "RequestPasswordForgot : ", res );
    });
</script>
                    {% endfilter %}
                </code></pre>
                </div>
                <div class="col-lg-6">
                    <label>Resultado</label>
                    <pre><code class="result json hljs" style="height: 193px;"></code></pre>
                    <a class="btn btn-default run-app" data-method="requestPasswordForgot" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Run</a>
                </div>
            </div>
            <div class="panel-footer">
                <form class="form-horizontal form-inline">
                    <div class="input-group input-group-sm">
                        <input type="text" name="email" placeholder="email" class="form-control" tabindex="1" required="required">
                    </div>    
                    <div class="input-group input-group-sm">
                        <input type="text" name="destination" placeholder="Destination" class="form-control" tabindex="1" required="required">
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>