<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseRChangeBirthday">Solicitud Cambio de fecha de nacimiento</a>
            </h4>
        </div>
        <div id="collapseRChangeBirthday" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-lg-6">
                    <label>C&oacute;digo</label>
                    <pre><code class="html hljs">{% filter escape %}                                
<script src='https://api.texyon.com/auth/v1/js/api.js'></script>

<script type="text/javascript">
    var auth = new TX.Auth();
    auth.setAccessToken(auth.getAccessToken());
    auth.requestChangeBirthday().then( res => {
        console.log( "RequestChangeBirthday: ", res );
    });
</script>
                    {% endfilter %}
                </code></pre>
                </div>
                <div class="col-lg-6">
                    <label>Resultado</label>
                    <pre><code class="result json hljs" style="height: 193px;"></code></pre>
                    <a class="btn btn-default run-app" data-method="requestChangeBirthday" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Run</a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <input name="destination" placeholder="Destination" type="text" tabindex="1" >
                </div>
            </div>
        </div>
    </div>
</div>